*{
    background-color: rgb(217, 241, 243);
}

h1 {
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
    color: #177bfd;
    font-size: 65px;
    position: absolute;
    right: 62%;
    bottom: 61%;
}

p {
    font-family:sans-serif;
    position: absolute;
    right: 965px;
    bottom: 53%;
    font-size: 30px;
}


.text {
    font-family:sans-serif;
    right: 230px;
    bottom: 28%;
    font-size: 15px;

}

form{
    background-color: white;
    position: absolute;
    width: 400px;
    height: 400px;
    padding: 2px;
    border-radius: 7px;
    box-shadow: 7px 7px 10px -2px;
    position: absolute;
    right: 12%;
    bottom: 35%;
}

input[type='text']{
    display: block;
    background-color: white;
    width: 300px;
    padding: 6px;
    text-align: center;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    border: 1.5px solid rgb(200, 200, 200);
    border-radius: 6px;
    margin-top: 30px;
    margin-left: 42px;
    margin-bottom: 20px;
    
 
}

input[type='password']{
    display: block;
    background-color: white;
    width: 300px;
    padding: 6px;
    text-align: center;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    border: 1.5px solid rgb(200, 200, 200);
    border-radius: 6px;
    margin-top: auto;
    margin-left: 42px;
    
}

button{
    background-color: #177bfd;
    color: white;
    width: 300px;
    padding: 6px;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    border: 1.5px solid rgb(200, 200, 200);
    border-radius: 6px;
    margin-top: 10px;
    margin-left: 50px;
    cursor: pointer;

}

.Forgot {
    display: block;
    background-color: white;
    margin: auto;
    width: 300px;
    color: #177bfd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    margin-left: 50px;
    cursor: pointer;
}

li {
    display: inline;
    margin-right: 10px;
    font-size: 10px;
}

